@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');


html, body {
    min-height: 100vh;
    margin: 0;
}

body {
    background-color: hsl(257, 40%, 49%);
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', serif;
    color: white;
    display: flex;
}



.container {
    margin: 50px 100px;
}

.top {
    margin-bottom: 100px;
}

.box-main {
    display: flex;
    align-items: center;
}

.left {
    margin-right: 100px;
}

.right h1 {
    font-family: 'Poppins', serif;
    font-weight: 600;
}

.right button {
    color: hsl(257, 40%, 49%);
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .4);
    font-family: 'Poppins', serif;
    font-weight: 400;
    width: 180px;
    height: 50px;
    border-style: none;
    border-radius: 40px;
}